@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Saira+Condensed&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  color: #212121;
  font-size: 3rem;
  text-align: center;
}
@media (min-width: 640px) {
  h1 {
    font-size: 4.5rem;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 1.9rem;
  color: black;
}
@media (min-width: 640px) {
  h2 {
    font-size: 2.2rem;
  }
}
@media (min-width: 1280px) {
  h2 {
    font-size: 2.5rem;
    margin: auto 0;
  }
}

h3 {
  font-size: 2.6rem;
}
@media (min-width: 640px) {
  h3 {
    font-size: 2.8rem;
  }
}
@media (min-width: 1280px) {
  h3 {
    font-size: 3rem;
  }
}

h5 {
  opacity: 0.5;
  font-size: 1rem;
}

h3,
h4,
h5,
h6 {
  color: #212121;
}

body {
  font: 1.8rem/1.4 "Saira Condensed", sans-serif;
  color: #212121;
}
@media (min-width: 640px) {
  body {
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 2.4rem;
  }
}

article, section header {
  padding: 15px;
  margin: 15px;
}

.confirm-delete, .form-add-task, article, section {
  border: 1px solid #A9A9A9;
  border-radius: 5px;
}

section header {
  display: grid;
  grid-template-columns: 76% 12% 12%;
}

body {
  background-color: #F5F5F5;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.page-header {
  padding: 15px;
  background-color: #A9A9A9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  padding: 15px;
  max-width: 800px;
  margin: auto;
}
@media (min-width: 1540px) {
  main {
    max-width: 1400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

section {
  background-color: #BEBEBE;
  margin: 30px 0;
  -webkit-box-shadow: 5px 5px 5px #A9A9A9;
          box-shadow: 5px 5px 5px #A9A9A9;
}
@media (min-width: 1280px) {
  section:not(:nth-child(1)) {
    margin-left: 15px;
  }
}
@media (min-width: 1540px) {
  section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 0;
  }
}
section header {
  grid-template-columns: 90% 10%;
}

article {
  background-color: #F5F5F5;
}
article header {
  grid-template-columns: 90% 10%;
  padding: 0;
  margin: 0;
}
article p {
  margin: 30px 0;
  text-align: justify;
}
article time {
  margin: auto 0;
}
@media (min-width: 1280px) {
  article time {
    font-size: 2rem;
  }
}

footer {
  padding: 15px;
  font-size: 1.8rem;
  text-align: center;
  background-color: #A9A9A9;
}

button {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section button {
  background-color: #6082B6;
  border: none;
  border-radius: 20px;
  font-size: 0;
  height: 22px;
  width: 22px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 0.8;
}
section button:hover {
  opacity: 1;
}
@media (min-width: 1280px) {
  section button {
    height: 25px;
    width: 25px;
    background-size: 23px;
  }
}

.add-task {
  background-image: url(/icons/add.svg);
}

.edit-task, .edit-list {
  background-image: url(/icons/edit.svg);
}

.delete-task {
  background-image: url(/icons/delete.svg);
}

.form-add-task {
  width: 400px;
  padding: 15px;
  background-color: #F5F5F5;
  position: fixed;
  left: 50%;
  top: 5%;
  -webkit-transform: translate(-50%, 5%);
          transform: translate(-50%, 5%);
  z-index: 9;
  -webkit-box-shadow: 3px 3px 5px #6082B6;
          box-shadow: 3px 3px 5px #6082B6;
}
.form-add-task legend {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (min-width: 640px) {
  .form-add-task {
    width: 500px;
  }
}
@media (min-width: 1280px) {
  .form-add-task {
    width: 600px;
  }
}
.form-add-task button {
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: #A9A9A9;
  color: #FFFFFF;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}
.form-add-task .cancel {
  background-color: #6082B6;
}
.form-add-task button:hover {
  opacity: 1;
}
.form-add-task input:hover,
.form-add-task textarea:hover {
  background-color: #FFFFFF;
}
.form-add-task input:valid,
.form-add-task textarea:valid {
  border: 2px solid #6082B6;
}
.form-add-task input:invalid,
.form-add-task textarea:invalid {
  border: 3px double #FF0000;
}
.form-add-task input,
.form-add-task textarea {
  width: 90%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #f2f2f2;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.6rem;
  color: #6082B6;
  -webkit-box-shadow: 2px 2px 5px #6082B6;
          box-shadow: 2px 2px 5px #6082B6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form-add-task input:focus,
.form-add-task textarea:focus {
  background-color: #FFFFFF;
  outline: none;
}

.error {
  background: #FF0000;
  color: #FFFFFF;
  font-size: 1.6rem;
  padding: 0 15px;
  border-radius: 5px;
}

.confirm-delete {
  width: 200px;
  padding: 15px;
  background-color: #F5F5F5;
  position: fixed;
  left: 50%;
  top: 5%;
  -webkit-transform: translate(-50%, 5%);
          transform: translate(-50%, 5%);
  z-index: 9;
  -webkit-box-shadow: 3px 3px 5px #6082B6;
          box-shadow: 3px 3px 5px #6082B6;
}
.confirm-delete legend {
  font-size: 2rem;
  font-family: "Saira Condensed", sans-serif;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 20px;
}
@media (min-width: 640px) {
  .confirm-delete {
    width: 500px;
  }
}
@media (min-width: 1280px) {
  .confirm-delete {
    width: 600px;
  }
}
.confirm-delete div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.confirm-delete button {
  margin-top: 30px;
  margin: 30px auto 0;
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: #A9A9A9;
  color: #FFFFFF;
  cursor: pointer;
  width: 40%;
  margin-bottom: 15px;
  opacity: 0.8;
}
.confirm-delete .cancel {
  background-color: #6082B6;
}
.confirm-delete button:hover {
  opacity: 1;
}

.dark {
  background-color: #1f1b24;
}
.dark .page-header {
  background-color: #505050;
}
.dark .theme-select {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.dark .theme-select label {
  color: #FFFFFF;
}
.dark .theme-select select {
  border-color: #212121;
}
.dark section {
  background-color: #505050;
  -webkit-box-shadow: 0.2rem 0.2rem 0.7rem #434343;
          box-shadow: 0.2rem 0.2rem 0.7rem #434343;
}
.dark section header {
  background-color: #505050;
}
.dark section button {
  background-color: #ecf0f6;
}
.dark article {
  background-color: #323131;
}
.dark article header {
  background-color: #323131;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #e6e6e6;
}
.dark p {
  color: #FFFFFF;
}
.dark time {
  color: #e6e6e6;
}
.dark .page-footer {
  background-color: #505050;
  color: #FFFFFF;
}
.dark .form-add-task {
  background-color: #323131;
  -webkit-box-shadow: 3px 3px 5px #504739;
          box-shadow: 3px 3px 5px #504739;
  color: #FFFFFF;
}
.dark .form-add-task legend {
  color: #cccccc;
}
.dark .form-add-task button {
  background-color: #838383;
}
.dark .form-add-task .cancel {
  background-color: #6082B6;
}
.dark .form-add-task input,
.dark .form-add-task textarea {
  background: #666666;
  color: #FFFFFF;
  -webkit-box-shadow: 2px 2px 5px #504739;
          box-shadow: 2px 2px 5px #504739;
}
.dark .form-add-task input:focus,
.dark .form-add-task textarea:focus {
  background-color: #4d4d4d;
}
.dark .form-add-task input:hover,
.dark .form-add-task textarea:hover {
  background-color: gray;
}
.dark .form-add-task input:valid,
.dark .form-add-task textarea:valid {
  border: 2px solid #6082B6;
}
.dark .form-add-task input:invalid,
.dark .form-add-task textarea:invalid {
  border: 3px double #cc0000;
}
.dark .form-add-task ::-webkit-input-placeholder {
  color: #e6e6e6;
}
.dark .form-add-task ::-moz-placeholder {
  color: #e6e6e6;
}
.dark .form-add-task :-ms-input-placeholder {
  color: #e6e6e6;
}
.dark .form-add-task ::-ms-input-placeholder {
  color: #e6e6e6;
}
.dark .form-add-task ::placeholder {
  color: #e6e6e6;
}
.dark .form-add-task ::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.dark .error, .superman .error {
  background: #cc0000;
  color: #FFFFFF;
}
.dark .add-task, .superman .add-task {
  background-image: url(/icons/add-blk.svg);
}
.dark .edit-task, .dark .edit-list, .superman .edit-task, .superman .edit-list {
  background-image: url(/icons/edit-blk.svg);
}
.dark .delete-task, .superman .delete-task {
  background-image: url(/icons/delete-blk.svg);
}

.superman {
  background-color: #0060aa;
}
.superman header {
  background-color: #FFD700;
}
.superman .theme-select {
  background-color: #FFD700;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.superman .theme-select label {
  color: #010101;
}
.superman .theme-select select {
  background-color: #0060aa;
  color: #FFFFFF;
  border-color: #0060aa;
}
.superman section {
  background-color: #e20025;
  -webkit-box-shadow: 2px 2px 5px #e20025;
          box-shadow: 2px 2px 5px #e20025;
}
.superman section header {
  background-color: #e20025;
}
.superman section button {
  background-color: #FFD700;
}
.superman article, .superman article header {
  background-color: white;
}
.superman h1,
.superman h3,
.superman h4,
.superman h5,
.superman h6 {
  color: #010101;
}
.superman h2 {
  color: #FFFFFF;
}
.superman p {
  color: #3b3b3b;
}
.superman time {
  color: #010101;
}
.superman .page-footer {
  background-color: #FFD700;
}
.superman .page-footer p {
  color: #212121;
}
.superman form {
  background-color: #0060aa;
  -webkit-box-shadow: 3px 3px 5px #010101;
          box-shadow: 3px 3px 5px #010101;
}
.superman form legend {
  color: #FFD700;
}
.superman form button {
  background-color: #FFD700;
  color: #010101;
  border: 1px solid #010101;
}
.superman form .cancel {
  background-color: #FFD700;
}
.superman input,
.superman textarea {
  background: white;
  color: #010101;
  -webkit-box-shadow: 2px 2px 5px #010101;
          box-shadow: 2px 2px 5px #010101;
}
.superman input:focus,
.superman textarea:focus {
  background-color: #ffef99;
}
.superman .error {
  background: #cc0000;
  color: #010101;
}
.superman input:hover,
.superman textarea:hover {
  background-color: #ffeb80;
}
.superman input:valid,
.superman textarea:valid {
  border: 2px solid #010101;
}
.superman input:invalid,
.superman textarea:invalid {
  border: 3px double #cc0000;
}
.superman ::-webkit-input-placeholder {
  color: #010101;
}
.superman ::-moz-placeholder {
  color: #010101;
}
.superman :-ms-input-placeholder {
  color: #010101;
}
.superman ::-ms-input-placeholder {
  color: #010101;
}
.superman ::placeholder {
  color: #010101;
}

.gabby {
  background-color: #8ae4e2;
}
.gabby header {
  background-color: #90579b;
}
.gabby .theme-select {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.gabby .theme-select label {
  color: #FFFFFF;
}
.gabby .theme-select select {
  background-color: #37d1cd;
  color: #3b3b3b;
  border-color: #b5113c;
}
.gabby section {
  background-color: #90579b;
  -webkit-box-shadow: 2px 2px 5px #A9A9A9;
          box-shadow: 2px 2px 5px #A9A9A9;
}
.gabby section header {
  background-color: #90579b;
}
.gabby section button {
  background-color: #58081d;
}
.gabby article, .gabby article header {
  background-color: #fdafcf;
}
.gabby h1 {
  color: black;
}
.gabby h2 {
  color: #fffafc;
}
.gabby h3,
.gabby h4,
.gabby h5,
.gabby h6 {
  color: #3b3b3b;
}
.gabby p {
  color: #212121;
}
.gabby time {
  color: #212121;
}
.gabby .page-footer {
  background-color: #90579b;
}
.gabby .page-footer p {
  color: #FFFFFF;
}
.gabby form {
  background-color: #90579b;
  -webkit-box-shadow: 3px 3px 5px #ef577f;
          box-shadow: 3px 3px 5px #ef577f;
}
.gabby form legend {
  color: #fdafcf;
}
.gabby form button {
  background-color: #ef577f;
}
.gabby form .cancel {
  background-color: #ff4d4d;
}
.gabby input,
.gabby textarea {
  background-color: #fc7db1;
  color: #212121;
  -webkit-box-shadow: 2px 2px 5px #ef577f;
          box-shadow: 2px 2px 5px #ef577f;
}
.gabby input:focus,
.gabby textarea:focus {
  background-color: #fee1ed;
}
.gabby input:hover,
.gabby textarea:hover {
  background-color: #fdafcf;
}
.gabby input:valid,
.gabby textarea:valid {
  border: 2px solid #ef577f;
}
.gabby input:invalid,
.gabby textarea:invalid {
  border: 3px double #cc0000;
}
.gabby ::-webkit-input-placeholder {
  color: #545454;
}
.gabby ::-moz-placeholder {
  color: #545454;
}
.gabby :-ms-input-placeholder {
  color: #545454;
}
.gabby ::-ms-input-placeholder {
  color: #545454;
}
.gabby ::placeholder {
  color: #545454;
}

.theme-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}
.theme-select label {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.theme-select select {
  background-color: #F5F5F5;
  padding: 2px 5px;
  border: 2px solid #6082B6;
  border-radius: 10px;
}

section {
  -webkit-animation: drop-down 0.5s ease-in;
          animation: drop-down 0.5s ease-in;
}

article {
  -webkit-animation-name: expand;
          animation-name: expand;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(0);
          transform: scale(0);
}

h1,
.theme-select,
.page-header {
  -webkit-animation: drop-down-fade 0.5s ease-in 0.8s;
          animation: drop-down-fade 0.5s ease-in 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
}

section button:hover {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@-webkit-keyframes drop-down-fade {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes drop-down-fade {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes drop-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes drop-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes expand {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}