.theme-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;

    label {
        font-family: $header-font;
        text-transform: uppercase;
    }

    select {
        background-color: $primary-color-light;
        padding: 2px 5px;
        border: 2px solid $accent-color;
        border-radius: 10px;
    }
}