@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Saira+Condensed&display=swap');

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    
}

h1,h2{
    text-transform: uppercase;
}

h1 {
    color: $primary-text-color;
    font-size: 3rem;
    text-align: center;

    @media (min-width: 640px) {
        font-size: 4.5rem;
    }

    @media (min-width: 1280px) {
        font-size: 5rem;
    }

}

h2 {
    font-size: 1.9rem;
    color: darken($primary-text-color, 20);

    @media (min-width: 640px) {
        font-size: 2.2rem;
    }

    @media (min-width: 1280px) {
        font-size: 2.5rem;
        margin: auto 0;
    }
}

h3 {
    font-size: 2.6rem;

    @media (min-width: 640px) {
        font-size: 2.8rem;
    }

    @media (min-width: 1280px) {
        font-size: 3rem;
    }
}

h5 {
    opacity: 0.5;
    font-size: 1rem;
}

h3,
h4,
h5,
h6 {
    color: $primary-text-color;
}

body {
    font: 1.8rem/1.4 $main-font;
    color: $primary-text-color;

    @media (min-width: 640px) {
        font-size: 2rem;
    }

    @media (min-width: 1280px) {
        font-size: 2.4rem;
    }
}