$primary-color-dark:   #A9A9A9;
$primary-color:        #BEBEBE;
$primary-color-light:  #F5F5F5;
$accent-color:         #6082B6;
$shadow-color:         #A9A9A9;

$primary-text-color:   #212121;
$secondary-text-color: #FFFFFF;

$error-color:          #FF0000;

$header-font: 'Oswald', sans-serif;
$main-font:  'Saira Condensed', sans-serif;

$spacing: 15px;
$border-width: 1px;

$animate-time: 0.5s;
$animate-time-delay: 0.8s;
$animate-time-delay-extra: 1s;

// DARK THEME COLORS ********************************************************
$dark-theme-primary-color-dark:   #1f1b24;
$dark-theme-primary-color:        #121212;
$dark-theme-primary-color-light:  #323131;
$dark-theme-accent-color:         #504739;

// SUPERMAN THEME COLORS ****************************************************
$superman-theme-primary-color-dark:   #e20025;
$superman-theme-primary-color:        #0060aa;
$superman-theme-primary-color-light:  #FFD700;
$superman-theme-accent-color:         #010101;

// GABBY'S DOLLHOUSE THEME COLORS ********************************************
$gabby-theme-primary-color-dark:   #90579b;
$gabby-theme-primary-color:        #8ae4e2;
$gabby-theme-primary-color-light:  #fdafcf;
$gabby-theme-accent-color:         #ef577f;